.language-swither {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 0.8em;
  gap: 0.5em;
  padding: 0.7em;
  letter-spacing: 0.1em;


  @media (width < 768px) {
    position: static;
    justify-content: center;
  }

  & .active {
    border: 1px solid rgba(var(--ids__text-RGB), 1);
    border-radius: 0.3em;
    corner-shape: squircle;
    padding: 0.05em 0.2em 0.05em 0.3em;
    font-style: italic;
  }

}

.title {
  padding: 1.5em 0 1em;
  text-align: center;

  & h1 {
    font-size: 3.5em;
    /* font-family: var(--gothic); */
    line-height: 0.9;
    margin-bottom: 0.4em;

    @media (width < 768px) {
      font-size: 2.3em;
    }
  }

  & p {
    font-size: 0.9em;

    @media (width < 768px) {
      font-size: 0.8em;

    }
  }


}

.video {

  & .video-player {
    position: relative;

    & .fake-play-button {
      position: absolute;
      display: flex;
      top: 0;
      bottom: 0.5em;
      left: 0;
      right: 0;

      justify-content: center;
      align-items: center;

      color: white;
      font-size: 1.5em;
      font-weight: 300;

      transition: color 0.5s ease;

      &:hover {
        color: rgba(var(--ids__hover-RGB), 1);
        transition: color 0s ease;
      }


    }
  }
}


.journal {
  padding: 0.3em;
  background: rgba(var(--ids__surface-RGB), 1);


  & a.journal-nav {
    padding: 0.7em 0.6em 0.8em;
    font-size: 0.7em;
    display: flex;
    gap: 0.6em;

    border-radius: 0.4em;

    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.5s ease, color 0.5s ease, background-color 0.5s ease;



    & .nav-item {

      &.date {
        position: relative;
        flex-grow: 2;


        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0.7em;

          border-bottom: 1px solid rgba(var(--ids__text-RGB), 1);
          transition: border 0.5s ease;

        }

        & .date-caption {
          display: inline-block;
          position: relative;
          left: 0%;
          padding: 0 0.1em;

          background-color: rgba(var(--ids__surface-RGB), 1);
          transition: background-color 0.5s ease, left 0.5s ease;




        }
      }

      & .reload-icon {
        width: 1.1em;
        height: 1.2em;

        & svg {
          & .cls-1 {
            stroke: rgba(var(--ids__text-RGB), 1);
            stroke-miterlimit: 10;
            stroke-width: 10px;
            fill: none;
            transition: stroke 0.5s ease;
          }
        }
      }
    }

    &:hover {
      opacity: 1;
      background-color: rgba(218, 223, 236, 1);
      transition: opacity 0s ease, color 0s ease, background-color 0s ease;


      & .nav-item {

        &.date {

          &::before {
            border-bottom: 1px solid rgba(var(--ids__hover-RGB), 1);
            transition: border 0s ease;
          }

          & .date-caption {
            background-color: rgba(218, 223, 236, 1);
            transition: background-color 0s ease, left 0.3s ease;
          }
        }
      }

      & .reload-icon {

        & svg {
          & .cls-1 {
            stroke: rgba(var(--ids__hover-RGB), 1);
            transition: stroke 0s ease;
          }
        }
      }
    }

  }

  & .journal-title {
    text-align: center;
    padding: 1.5em 2em 0em;

    & h2 {
      font-size: 1.5em;
      /* font-family: var(--gothic); */

    }
  }

  & .journal-record {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 1em 2em 2em;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    /* min-height: 10em; */

    &.visible {
      display: block;
      opacity: 1;
    }

    & .date {
      display: none;
    }

    & p {
      font-weight: 400;
    }
  }
}

.about {
  font-size: 0.9em;

  @media (width < 768px) {
    font-size: 0.8em;
    padding: 0 1.3em;
  }
}


.circle {
  position: relative;
  width: 25em;
  height: 25em;
  margin: 2em auto 1em;
  border-radius: 50%;
  background-color: rgba(var(--ids__surface-RGB), 1);
  overflow: hidden;
  animation: circle-animation 20s ease-in-out infinite;

  @media (width < 768px) {
    width: 15em;
    height: 15em;
  }

  & .circle-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100% 100%;

    &.bg-pale {
      background-image: url('assets/bg-pale.png');
    }

    &.bg-blue {
      background-image: url('assets/bg-blue.png');
      animation: blue-bg-animation 20s linear infinite;
    }

    &.bg-red {
      background-image: url('assets/bg-red.png');
      animation: red-bg-animation 20s linear infinite;
    }

  }
}

@keyframes circle-animation {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes blue-bg-animation {

  0%,
  22% {
    opacity: 0;
  }

  33%,
  80% {
    opacity: 1;
  }

  81%,
  100% {
    opacity: 0;
  }
}

@keyframes red-bg-animation {

  0%,
  55% {
    opacity: 0;
  }

  66%,
  88% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}



.full-journal {
  & a.journal-nav {

    display: none;
  }

  & .journal-title {
    display: none;
  }

  & .journal-record {
    display: block;
    opacity: 1;

    & .date {

      display: block;
      font-weight: 600;
      margin-bottom: 0.5em;
    }
  }
}