:root {
  --ids__text-RGB: 35, 37, 38;

  --ids__link-RGB: 44, 44, 44;
  --ids__hover-RGB: 255, 75, 75;
  --ids__accent-RGB: 255, 105, 105;
  --ids__pen-RGB: 0, 65, 205;
  --ids__mark-RGB: 255, 200, 29;
  --ids__surface-RGB: 230, 228, 228;
  --ids__background-RGB: 255, 255, 255;
}

body {
  color: rgba(var(--ids__text-RGB), 1);
  background-color: rgba(var(--ids__background-RGB), 1);
}

.dark-theme {
  --ids__text-RGB: 240, 240, 240;
  --ids__link-RGB: 240, 240, 240;
  --ids__hover-RGB: 255, 100, 90;
  --ids__accent-RGB: 57, 53, 216;
  --ids__mark-RGB: 255, 200, 29;
  --ids__surface-RGB: 45, 47, 48;
  --ids__background-RGB: 35, 37, 38;

  color: rgba(var(--ids__text-RGB), 1);
  background-color: rgba(var(--ids__background-RGB), 1);
}