---
permalink: bundle.css
---
{% include "../src/ids/colors.css" %}
{% include "../src/ids/normalize.css" %}
{% include "../src/ids/settings.css" %}
{% include "../src/ids/layout.css" %}
{% include "../src/ids/ids.css" %}
{% include "../src/ids/gallery.css" %}
{% include "../src/ids/photoswipe.css" %}

{% include "../src/styles/header.css" %}
{% include "../src/styles/footer.css" %}
{% include "../src/styles/story.css" %}
{% include "../src/styles/journal.css" %}

{% include "../node_modules/vidstack/player/styles/plyr/theme.css" %}
{% include "../src/styles/plyr-custom.css" %}
