{% extends 'layout.html' %} {% set pageTitle = '147 дней в тундре. Фильм Фёдора Овчинникова' %} {% block content %}
<div class="language-swither">
  <a href="/">RU</a>
  <div class="active">EN</div>
</div>

<div class="ids__wrapper L">
  <div class="title">
    <h1>147 days in the Tundra</h1>
    <p>A film by Fyodor Ovchinnikov</p>
  </div>
  <div class="video">
    <div class="video-nav"></div>
    <div class="video-player">
      <iframe
        style="width: 100%; aspect-ratio: 560 / 315"
        src="https://www.youtube.com/embed/XfELJU1mRMg?si=8679i5lzVQZMJc9M"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="ids__wrapper">
  <div class="ids__space XS"></div>
  {% include "journal.html" %}
</div>
<div class="ids__wrapper">
  <div class="ids__space L"></div>

  <p>
    Весной 2024 года я принял решение. Зрело оно последние несколько лет. Это был не кризис. Не испытание, чтобы стать для чего-то сильнее. Не бегство от себя и реальности, а
    скорее попытка понять, что такое «жизнь», «я» и «реальность».
  </p>

  <p>
    В марте 2025 года я отправился в Арктику, где меня приняла замечательная семья ненцев-оленеводов. Почти за пять месяцев мы прошли 730 километров на оленях от Обской губы до
    берегов Северного Ледовитого океана. На самый край земли. Все это время я фиксировал опыт другой жизни на камеру и в заметках моего телефона.
  </p>

  <p>
    Этот фильм — эксперимент соло-кинематографа и желание поделиться моим опытом с вами. На этом сайте будут постепенно появляется новые материалы и новости. Выход фильма
    запланирован на 2026 год
  </p>

  <p><em>Федор Овчинников</em></p>
</div>
<div class="ids__wrapper">
  <div class="ids__space L"></div>
  <div class="circle">
    <div class="circle-bg bg-pale"></div>
    <div class="circle-bg bg-blue"></div>
    <div class="circle-bg bg-red"></div>
  </div>
</div>

<footer class="footer">
  <a href="contact@tundra147.com" target="_blank">contact@tundra147.com</a>
</footer>

{% endblock %}
