{% extends 'layout.html' %} {% set pageTitle = '147 дней в тундре' %} {% set pageDesc = 'Фильм Фёдора Овчинникова' %} {% block content %}

<div class="language-swither">
  <div class="active">RU</div>
  <a href="/en">EN</a>
</div>
<div class="ids__wrapper L">
  <div class="title">
    <h1>147 дней в тундре</h1>
    <p>Фильм Фёдора Овчинникова  ·  2026</p>
  </div>
  <div class="video">
    <div class="video-nav"></div>
    <div class="video-player">
      <media-player
        title="Rick Astley - Never Gonna Give You Up"
        src="vimeo/1131793730"
        playsinline
      >
        <media-provider>
          <media-poster src="/assets/photo_158@13-09-2025_17-58-28.jpg">
          </media-poster>
        </media-provider>
        <media-plyr-layout></media-plyr-layout>
        <media-play-button class="ids-play" custom-icons>
          <div slot="play-icon">▶</div>
        </media-play-button>
      </media-player>
    </div>
  </div>
  <div class="ids__space XS"></div>
  <!-- <div class="video">
    <div class="video-nav"></div>
    <div class="video-player">
      <iframe
        style="width: 100%; aspect-ratio: 560 / 315"
        src="https://www.youtube.com/embed/XfELJU1mRMg?si=8679i5lzVQZMJc9M"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
  </div> -->
</div>
<div class="ids__wrapper">
  <div class="ids__space XS"></div>
  {% include "journal.html" %}
</div>
<div class="ids__wrapper">
  <div class="ids__space L"></div>
  <div class="about">
    <p>
      Весной 2024 года я принял решение. Зрело оно последние несколько лет. Это был не кризис. Не испытание, чтобы стать для чего-то сильнее. Не бегство от себя и реальности, а
      скорее попытка понять, что такое «я» и «реальность».
    </p>

    <p>
      В марте 2025 года я отправился в Арктику, где меня приняла замечательная семья ненцев-оленеводов. Почти за пять месяцев мы прошли 730 километров на оленях от Обской губы до
      берегов Северного Ледовитого океана. На самый край земли. Все это время я фиксировал опыт другой жизни на кинокамеру и в заметках моего телефона.
    </p>

    <p>
      Этот фильм — эксперимент соло-кинематографа и желание поделиться этим опытом с вами. На этом сайте будут постепенно появляется новые материалы и новости. Выход фильма
      запланирован на 2026 год.
    </p>

    <p><em>Фёдор Овчинников</em></p>
  </div>
</div>
<div class="ids__wrapper">
  <div class="ids__space L"></div>
  <div class="circle">
    <div class="circle-bg bg-pale"></div>
    <div class="circle-bg bg-blue"></div>
    <div class="circle-bg bg-red"></div>
  </div>
</div>

<footer class="footer">
  <a href="mail@tundra147.com" target="_blank">mail@tundra147.com</a>
</footer>

{% endblock %}
