{% extends 'layout.html' %} {% set pageTitle = 'Другая жизнь. Фильм Фёдора Овчинникова' %} {% block content %}
<!-- <header class="header">
  <div class="line">
    · Другая жизнь · 147 дней в тундре · Фильм Фёдора Овчинникова · Премьера весной 2026 · Другая жизнь · 147 дней в тундре · Фильм Фёдора Овчинникова · Премьера весной 2026 ·
    Другая жизнь · 147 дней в тундре · Фильм Фёдора Овчинникова · Премьера весной 2026 ·
  </div>
</header> -->

<div class="ids__wrapper">
  <div class="title">
    <h1>147 дней в тундре</h1>
    <p>Фильм Фёдора Овчинникова</p>
  </div>
  <div class="video">
    <div class="video-nav"></div>
    <div class="video-player">
      <media-player
        title="Rick Astley - Never Gonna Give You Up"
        src="vimeo/714785167"
      >
        <media-provider></media-provider>
        <media-plyr-layout></media-plyr-layout>
      </media-player>
    </div>
  </div>
  <div class="ids__space XS"></div>
  <div class="video">
    <div class="video-nav"></div>
    <div class="video-player">
      <media-player
        title="Rick Astley - Never Gonna Give You Up"
        src="youtube/dQw4w9WgXcQ"
      >
        <media-provider></media-provider>
        <media-plyr-layout></media-plyr-layout>
      </media-player>
    </div>
  </div>
  <div class="ids__space XS"></div>
  <div class="journal">
    <a class="journal-nav">
      <div class="nav-item">Дневник Фёдора</div>
      <div class="nav-item date">
        <div class="date-caption">8 мая 2025</div>
      </div>
      <div class="nav-item">
        <div class="reload-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105.12 115.36">
            <path class="cls-1" d="M17.082,33.883C53.278.104,100.12,17.356,100.12,63.518c0,25.87-20.972,46.842-46.842,46.842S6.436,89.388,6.436,63.518" />
            <polyline class="cls-1" points="27.446 2.328 8.474 38.39 48.651 36.663" />
          </svg>
        </div>
      </div>
    </a>
    <div class="journal-record">
      <h2>64-й день в тундре</h2>
      <p>Здесь невозможно не пойти в школу, уволиться, если каслать надо, надо каслать в любом состоянии и по любой погоде. И выйти из игры невозможно)</p>
    </div>
  </div>
</div>

<footer class="footer">
  <a href="contact@tundra147.com" target="_blank">contact@tundra147.com</a>
</footer>

{% endblock %}
