{% extends 'layout.html' %} {% set pageTitle = 'Другая жизнь. Фильм Фёдора Овчинникова' %} {% block content %}
<header class="header">
  <div class="line">
    · Другая жизнь · 147 дней в тундре · Фильм Фёдора Овчинникова · Премьера весной 2026 · Другая жизнь · 147 дней в тундре · Фильм Фёдора Овчинникова · Премьера весной 2026 ·
    Другая жизнь · 147 дней в тундре · Фильм Фёдора Овчинникова · Премьера весной 2026 ·
  </div>
</header>

<div class="title">
  <div class="poster">
    <div class="poster-image">
      <img src="/assets/poster-bg.png" alt="Портрет Фёдора Овчинникова" />
    </div>
    <div class="poster-header">
      <div class="poster-tagline">147 дней в тундре</div>
      <div class="poster-title">Дру<span style="letter-spacing: -0.1em">г</span>ая жизнь</div>
    </div>
    <div class="poster-footer">
      <div class="poster-author">Фильм<br />Фёдора Овчинникова</div>
      <div class="poster-year">2026</div>
    </div>
  </div>

  <div class="nav">
    <div class="nav-item">
      <a href="#about">Фильм</a>
    </div>
    <div class="nav-item">
      <a href="#journal">Дневник</a>
    </div>
    <div class="nav-item">
      <a href="#trailer">Трейлер</a>
    </div>
    <div class="nav-item">
      <a href="#gallery">Галерея</a>
    </div>
    <div class="nav-item">
      <a href="#author">Автор</a>
    </div>
    </div>
  </div>
</div>
<div class="dark">
  <div class="ids__wrapper">
    <div class="journal">
      <div class="journal-nav">
        <!-- <div class="journal-nav-caption">Дневник  ·  25 марта  ·  5-й день</div> -->
        <div class="journal-nav-icon">↗</div>
      </div>
      <div class="journal-record">
        Вообще мне первый раз так плохо. Не куда сбежать. Больше всего пугает четыре месяца. Просыпаюсь каждую ночь с ужасом) Возможно, будет такое же принятие как в бизнесе в
        сложные безвыходные моменты. В какие-то моменты ужас же тоже был, когда заводил себя в поисках приключений в сложные ситуации, но выбора не было - надо было жить, а сейчас
        вроде как бы выбор есть. Можно сбежать.
      </div>
    </div>
    <div class="illustrations"></div>
  </div>
  <footer class="footer">
    <a href="https://t.me/fedorinsights" target="_blank">fedor.insights</a>  ·  <a href="https://sila-uma.ru" target="_blank">sila-uma.ru</a>  · 
    <a href="https://yepagency.ru" target="_blank">yepagency.ru</a>
  </footer>
</div>

{% endblock %}
