{% extends 'layout.html' %} {% set pageTitle = 'Другая жизнь. Фильм Фёдора Овчинникова' %} {% block content %}

<div class="ids__wrapper L">
  <div class="title">
    <h1>147 дней в тундре</h1>
    <p>Фильм Фёдора Овчинникова</p>
  </div>
  <div class="video">
    <div class="video-nav"></div>
    <div class="video-player">
      <media-player title="Rick Astley - Never Gonna Give You Up" src="vimeo/714785167">
        <media-provider>
          <media-poster src="/assets/photo_158@13-09-2025_17-58-28.jpg"> </media-poster>
        </media-provider>
        <media-plyr-layout></media-plyr-layout>
        <media-play-button class="ids-play" custom-icons>
          <div slot="play-icon">▶</div>
        </media-play-button>
      </media-player>
    </div>
  </div>
  <div class="ids__space XS"></div>
  <!-- <div class="video">
    <div class="video-nav"></div>
    <div class="video-player">
      <iframe
        style="width: 100%; aspect-ratio: 560 / 315"
        src="https://www.youtube.com/embed/XfELJU1mRMg?si=8679i5lzVQZMJc9M"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
  </div> -->
</div>
<div class="ids__wrapper">
  <div class="ids__space XS"></div>
  {% include "journal.html" %}
</div>

<footer class="footer">
  <a href="contact@tundra147.com" target="_blank">contact@tundra147.com</a>
</footer>

{% endblock %}
